**Shawn (HyungJoon) Yoon**

**Yes, I followed the honor code.**

**8 hrs**

1A.

If Uber operates at the Monopoly Price, then government might intervene and set some regulations that goes against them. For that reason, Uber might have set the price that is socially optimizing price.

1B.

If the capacity constraint does not bind, then 

$P_t^s$ = c

If the capacity constraint binds, then 

$K_t$ = $\alpha_0$ + $\alpha_1$$P_t^s$ + $\alpha_2$$A_t$

therefore, 

$P_t^s$ = ($K_t$ - $\alpha_0$ - $\alpha_2$$A_t$) / $\alpha_1$

In [30]:
import pandas as pd
import statsmodels.formula.api as smf
from linearmodels import OLS, IV2SLS 
import seaborn as sns
import matplotlib.pyplot as plt
% matplotlib inline
#necessary packages

In [31]:
#Import data
df_uber = pd.read_csv("UberData.csv")
df_uber.head()

,Minute,Hour,Day,Month,Year,AppOpens,VehiclesAvailable,Price,AcceptedRides
0,0,0,28,12,2015,53,61,10.0,24.7
1,5,0,28,12,2015,46,53,10.0,30.4
2,10,0,28,12,2015,53,59,10.0,31.7
3,15,0,28,12,2015,50,46,10.0,26.0
4,20,0,28,12,2015,42,83,10.0,15.8

In [32]:
# set marginal cost
c = 10

In [33]:
# 1C: Estimating the demand function

demand_model = OLS.from_formula('AcceptedRides ~ 1 + Price + AppOpens', df_uber)
fitted_model = demand_model.fit()
print(fitted_model.summary)

# store the three alpha coefficients for use later.
alpha_0 = fitted_model.params.Intercept
alpha_1 = fitted_model.params.Price # finish this
alpha_2 = fitted_model.params.AppOpens # finish this

                            OLS Estimation Summary
==============================================================================
Dep. Variable:          AcceptedRides   R-squared:                      0.9501
Estimator:                        OLS   Adj. R-squared:                 0.9501
No. Observations:                2016   F-statistic:                 3.714e+04
Date:                Tue, Oct 08 2019   P-value (F-stat)                0.0000
Time:                        02:08:11   Distribution:                  chi2(2)
Cov. Estimator:                robust

                             Parameter Estimates
==============================================================================
            Parameter  Std. Err.     T-stat    P-value    Lower CI    Upper CI
------------------------------------------------------------------------------
Intercept      0.2058     0.3630     0.5670     0.5707     -0.5056      0.9172
Price         -1.5000     0.0303    -49.549     0.0000     -1.5593     -1.4407
AppOpens       0.8974     0.0056     161.45     0.0000      0.8865      0.9083
==============================================================================

In [34]:
df_uber.head(10)

,Minute,Hour,Day,Month,Year,AppOpens,VehiclesAvailable,Price,AcceptedRides
0,0,0,28,12,2015,53,61,10.0,24.7
1,5,0,28,12,2015,46,53,10.0,30.4
2,10,0,28,12,2015,53,59,10.0,31.7
3,15,0,28,12,2015,50,46,10.0,26.0
4,20,0,28,12,2015,42,83,10.0,15.8
5,25,0,28,12,2015,47,81,10.0,26.3
6,30,0,28,12,2015,47,51,10.0,33.3
7,35,0,28,12,2015,45,55,10.0,34.5
8,40,0,28,12,2015,38,76,10.0,18.2
9,45,0,28,12,2015,37,45,10.0,16.3

In [35]:
# Note: 
# If Price = MC, then the constraint does not bind. 
# If Price > MC, then the contrsint binds.

In [36]:
# 1D: Prices that maximize social surplus

is_capacity_binding = 1. * (df_uber['Price'] > c) # What is the condition for the capacity constraint to bind? Note the 1. * () converts from Boolean (True/False) to a float (a number)

equilibrium_price_if_binding = is_capacity_binding*(df_uber['AcceptedRides'] - alpha_0 - alpha_2*df_uber['AppOpens'])/alpha_1 # finish this

equilibrium_price = (is_capacity_binding==0)*c  + (is_capacity_binding==1)*equilibrium_price_if_binding # finish this

equilibrium_price.describe()

count    2016.000000
mean       12.442011
std         6.829101
min         5.749088
25%        10.000000
50%        10.000000
75%        10.000000
max        52.108692
dtype: float64

In [37]:
equilibrium_price

0       10.000000
1       10.000000
2       10.000000
3       10.000000
4       10.000000
5       10.000000
6       10.000000
7       10.000000
8       10.000000
9       10.000000
10      10.000000
11      10.000000
12      10.000000
13      10.000000
14      10.000000
15      10.000000
16      10.000000
17      10.000000
18      10.000000
19      10.000000
20      10.000000
21      10.000000
22      10.000000
23      10.000000
24      10.000000
25      10.000000
26      10.000000
27      10.000000
28      10.000000
29      10.000000
          ...
1986    10.000000
1987    10.000000
1988    10.000000
1989    10.000000
1990    10.297492
1991    10.000000
1992    10.000000
1993    10.000000
1994    10.000000
1995    10.000000
1996    10.000000
1997    10.000000
1998    10.000000
1999    17.464115
2000    10.000000
2001    10.000000
2002    10.000000
2003    10.000000
2004    18.432973
2005    10.000000
2006    10.000000
2007    10.000000
2008    19.599633
2009    20.085792
2010    10.000000
2011    10.000000
2012    10.000000
2013    21.608269
2014    21.915654
2015    17.097919
Length: 2016, dtype: float64

In [38]:
df_uber.tail()

,Minute,Hour,Day,Month,Year,AppOpens,VehiclesAvailable,Price,AcceptedRides
2011,35,23,3,1,2016,115,90,10.0,88.50
2012,40,23,3,1,2016,123,112,10.0,105.70
2013,45,23,3,1,2016,113,81,15.0,69.20
2014,50,23,3,1,2016,128,87,20.0,82.20
2015,55,23,3,1,2016,119,90,12.5,81.35

### Question: 

Index 2015: Accepted Rides is below the constraint. The Price data is showing that it is at the socially optimal price. 

However, the socially optimal equilibrium price for the same index has a price of 17.09, when it should be 10. Why is that?

1E: Write the equation for social surplus $S_t^s$ at time t given surplus-maximizing $P_t^s$, again assuming $E_t$ = 0. (Hint: if the capacity constraint doesn't bind, this is just a triangle above the marginal cost line. If the capacity constraint does bind, this is a trapezoid as drawn in the lecture slides.)

From the demand function, we can get the maximum price from setting quantity equal to zero. 

$Q_t = \alpha_0 + \alpha_1P_t + \alpha_2A_t$

$0 = \alpha_0 + \alpha_1P_t + \alpha_2A_t$

Maximum_Price, $P_m = (-\alpha_0 -\alpha_2A_t)/\alpha_1$ 

We are going to use this maximum price to calculate average price. 

Average_Price, $P_A$ = ($P_m - P_t) / 2$ 

Therefore, social surplus is 

**$S_t^s = (AveragePrice - Cost) * AcceptedRides$**

$S_t^s = (((P_m - P_t) / 2) - c) * AcceptedRides$

### Better Answer?
$S_t^s = (((P_m - P_t) / 2) - c) * (\alpha_0 + \alpha_1P_t^s + \alpha_2A_t$)

In [39]:
df_uber.head()

,Minute,Hour,Day,Month,Year,AppOpens,VehiclesAvailable,Price,AcceptedRides
0,0,0,28,12,2015,53,61,10.0,24.7
1,5,0,28,12,2015,46,53,10.0,30.4
2,10,0,28,12,2015,53,59,10.0,31.7
3,15,0,28,12,2015,50,46,10.0,26.0
4,20,0,28,12,2015,42,83,10.0,15.8

In [40]:
# 1F: Social surplus in equilibrium
accepted_rides = df_uber.AcceptedRides

maximum_value = (-alpha_0-alpha_2*accepted_rides)/alpha_1

consumer_surplus = ((maximum_value - equilibrium_price)/2) * accepted_rides

producer_surplus = (equilibrium_price - c) * accepted_rides

equilibrium_social_surplus =  consumer_surplus + producer_surplus

sum(equilibrium_social_surplus)

2540988.6316781887

In [41]:
# Second Try Answer
# 1F: Social surplus in equilibrium
accepted_rides = df_uber.AcceptedRides

maximum_value = (-alpha_0-alpha_2*accepted_rides)/alpha_1

Consumer_surplus = ((maximum_value - equilibrium_price)/2) * (alpha_0 + alpha_1*equilibrium_price + alpha_2*df_uber.AppOpens)

Producer_surplus = (equilibrium_price - c) * (alpha_0 + alpha_1*equilibrium_price + alpha_2*df_uber.AppOpens)

Equilibrium_social_surplus =  Consumer_surplus + Producer_surplus

sum(Equilibrium_social_surplus)

2525515.0823876243

1G: Now imagine that price is always set at marginal cost, and if there is a shortage of vehicles, the consumers who can find a ride are effectively randomly selected from the set that would be willing to pay marginal cost. (This "random rationing" allows the simplifying assuption that average consumer who finds a vehicle gets consumer surplus equal to the average consumer with WTP>c.) Write the formula for social surplus at time t under this pricing and rationing rule.

$S_t^s = (((RationingAvgPrice) - cost)) * VehiclesAvailable$

$S_t^s = (((MaxPrice - RationingPrice) / 2) - c)) * VehiclesAvailable$

In [42]:
# 1H: Social surplus with price at marginal cost and rationing

rationing_average_value = (maximum_value-c)/2

# Then social surplus is (using the formula developed in 1G)

rationing_social_surplus = (rationing_average_value - c) * df_uber.VehiclesAvailable
print(rationing_social_surplus.sum())

# Difference in social surplus over the week
print(sum(equilibrium_social_surplus - rationing_social_surplus))

949260.0538245536
1591728.577853635

In [43]:
# Second Try Answer
# 1H: Social surplus with price at marginal cost and rationing

rationing_average_value = (maximum_value-c)/2

# Then social surplus is (using the formula developed in 1G)

Rationing_social_surplus = (rationing_average_value - c) * df_uber.AcceptedRides
print(Rationing_social_surplus.sum())

# Difference in social surplus over the week
print(sum(equilibrium_social_surplus - Rationing_social_surplus))

998625.3922472636
1542363.2394309202

1I: Compare your answers in 1H vs. 1F. Briefly recap the intuition for why rationing by price is more economically efficient than random rationing.

Rationing by price is more economically efficient than random rationing. The intuition is that random rationing includes everyone whose willingness to pay for a ride is greater than or equals to the rationing price. That means the pool for the customer is larger now. However, this is a mismatch in terms of economic efficiency. Under the rationing by price, the whole trapezoid was the social surplus. However, when ration randomly, it creates dead weight loss and reduces the social surplus. There are people who are willing to pay more than the everyone's average value for a ride, but simply can't by chance.

In [48]:
df_uber.tail()

,Minute,Hour,Day,Month,Year,AppOpens,VehiclesAvailable,Price,AcceptedRides
2011,35,23,3,1,2016,115,90,10.0,88.50
2012,40,23,3,1,2016,123,112,10.0,105.70
2013,45,23,3,1,2016,113,81,15.0,69.20
2014,50,23,3,1,2016,128,87,20.0,82.20
2015,55,23,3,1,2016,119,90,12.5,81.35

In [46]:
equilibrium_price.tail()

2011    10.000000
2012    10.000000
2013    21.608269
2014    21.915654
2015    17.097919
dtype: float64

In [20]:
df_uber

,Minute,Hour,Day,Month,Year,AppOpens,VehiclesAvailable,Price,AcceptedRides
0,0,0,28,12,2015,53,61,10.0,24.70
1,5,0,28,12,2015,46,53,10.0,30.40
2,10,0,28,12,2015,53,59,10.0,31.70
3,15,0,28,12,2015,50,46,10.0,26.00
4,20,0,28,12,2015,42,83,10.0,15.80
5,25,0,28,12,2015,47,81,10.0,26.30
6,30,0,28,12,2015,47,51,10.0,33.30
7,35,0,28,12,2015,45,55,10.0,34.50
8,40,0,28,12,2015,38,76,10.0,18.20
9,45,0,28,12,2015,37,45,10.0,16.30
10,50,0,28,12,2015,54,56,10.0,29.60
11,55,0,28,12,2015,38,76,10.0,23.20
12,0,1,28,12,2015,36,72,10.0,19.40
13,5,1,28,12,2015,38,57,10.0,29.20
14,10,1,28,12,2015,45,62,10.0,25.50
15,15,1,28,12,2015,37,62,10.0,8.30
16,20,1,28,12,2015,42,44,10.0,16.80
17,25,1,28,12,2015,51,66,10.0,37.90
18,30,1,28,12,2015,42,72,10.0,31.80
19,35,1,28,12,2015,49,61,10.0,28.10
20,40,1,28,12,2015,38,46,10.0,13.20
21,45,1,28,12,2015,50,48,10.0,20.00
22,50,1,28,12,2015,48,78,10.0,28.20
23,55,1,28,12,2015,37,68,10.0,14.30
24,0,2,28,12,2015,55,72,10.0,37.50
25,5,2,28,12,2015,45,48,10.0,15.50
26,10,2,28,12,2015,47,76,10.0,29.30
27,15,2,28,12,2015,43,73,10.0,27.70
28,20,2,28,12,2015,47,49,10.0,33.30
29,25,2,28,12,2015,53,81,10.0,27.70
...,...,...,...,...,...,...,...,...,...
1986,30,21,3,1,2016,97,101,10.0,62.30
1987,35,21,3,1,2016,81,92,10.0,63.90
1988,40,21,3,1,2016,91,87,10.0,66.90
1989,45,21,3,1,2016,87,79,10.0,71.30
1990,50,21,3,1,2016,100,66,15.0,74.50
1991,55,21,3,1,2016,94,69,10.0,65.60
1992,0,22,3,1,2016,96,80,10.0,72.40
1993,5,22,3,1,2016,99,80,10.0,73.10
1994,10,22,3,1,2016,96,101,10.0,70.40
1995,15,22,3,1,2016,95,73,10.0,76.50
1996,20,22,3,1,2016,89,82,10.0,67.10
1997,25,22,3,1,2016,86,96,10.0,63.40
1998,30,22,3,1,2016,81,78,10.0,57.90
1999,35,22,3,1,2016,100,62,17.5,63.75
2000,40,22,3,1,2016,84,84,10.0,59.60
2001,45,22,3,1,2016,80,69,10.0,51.00
2002,50,22,3,1,2016,91,66,10.0,75.90
2003,55,22,3,1,2016,90,70,10.0,58.00
2004,0,23,3,1,2016,118,88,12.5,78.45
2005,5,23,3,1,2016,120,101,10.0,90.00
2006,10,23,3,1,2016,118,107,10.0,85.20
2007,15,23,3,1,2016,116,96,10.0,89.40
2008,20,23,3,1,2016,118,83,15.0,76.70
2009,25,23,3,1,2016,126,87,17.5,83.15
2010,30,23,3,1,2016,113,96,10.0,96.70
2011,35,23,3,1,2016,115,90,10.0,88.50
2012,40,23,3,1,2016,123,112,10.0,105.70
2013,45,23,3,1,2016,113,81,15.0,69.20
2014,50,23,3,1,2016,128,87,20.0,82.20
2015,55,23,3,1,2016,119,90,12.5,81.35